@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@100&family=Trispace:wght@300;400;500;600&display=swap');


nav{

    background-color: bisque;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: 600;
}

nav ul{

    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;

}

nav li{

    margin-left: 7px;

}

nav li a {

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{

    background-color: black;
    color: white;

}

.banner{

    background: linear-gradient(rgba(0,0,0,0.281), rgba(0,0,0,0.308)), url("../bk.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}


.textindex .titulo{

    color: white    ;
    font-size: 70px;
    font-weight: 600;


}
.textindex .subtext{

    color: white;
    font-size: 40px;
    font-weight: 600;

}

.textindex .botoes{

    margin-top: 30px;


}

.textindex .botoes button{

    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

}


.textindex .botoes button.b1{

    color: white;
    background: none;
    border: 2px solid white;


}

.textindex .botoes .b1:hover{

    color: white;
    background-color: black;
    border: 2px solid white;

}

.textindex .botoes button.b2{

    background: white;
    color: black;
    border: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}


.sectionslide{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.61);
}

.slide-container{

    max-width: 1120px;
    height: 100%;
    
    padding: 40px 0;
    
}


.slide-content{

    
    margin: 0 40px ;
    padding: 45px 20px;
    overflow: hidden;
    border-radius: 25px;
}


.card{

    
    border-radius: 25px;
    background-color: white;

}

.img-content, .card-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}

.img-content{

    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 25px 25px 0 25px;

}

.overlay::before, .overlay::after{

    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: bisque;
}

.overlay::after{

    border-radius: 0 25px 0 0 ;
    background-color: white;
}

.card-img{

    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}

.card-img .card-img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid bisque;
}

.nome{

    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 3px;


}

.descricao{

    font-size: 14px;
    color: black;
    text-align: center;
    padding: 3px;

}

.buttons1{

    
    border: none;
    font-size: 16px;
    color: black;
    padding: 8px;
    background: bisque;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

}


.buttons1:hover{

    background: black;
    color: white;

}


.swiper-navBtn{

    color: bisque;
    transition:  color 0.3s ease;

}

.swiper-navBtn:hover{

    color: rgb(182, 162, 138);

}

.swiper-navBtn::before,.swiper-navBtn::after{

    font-size: 40px;


}

.swiper-button-next{

    right: 0;


}

.swiper-button-prev{

    left: 0;
    

}

.swiper-pagination-bullet{

    background-color: bisque;
    opacity: 1;

}

.swiper-pagination-bullet-active{

    background-color: bisque;

}

.gradiente-map{

    height: 100vh;
    display: flex;
    
    background-image: linear-gradient(#ffffff, #fffaf5,#fff6eb,#fff1e1, #ffedd7, #ffe8ce );

}

.map{

    border: none;
    height: 100%;
    width: 95%;
    align-items: center;
    margin: 27px;

}



.map h2{

    font-size: 25px;
    color: black;
    text-align: center;
    margin: 12px;
}

.map p{

    color: black;
    font-size: 12px;
    margin: 12px;
    text-align: justify;
}

.map iframe{

    border-radius: 15px;
    width: 100%;
    
    
}

.map strong{

    font-weight: bold;

}

footer{
	width: 100%;
	min-height: 150px;
	background: bisque;
	display: flex;
}



footer .boxs{

	width: 320px;
	min-height: 150px;
	padding: 20px;
}

footer .boxs:nth-child(4){
	width: 400px;
}

.boxs h2{
	color: black;
	margin-bottom: 20px;
	font-size: 30px;
}

.boxs ul li{
	margin: 10px 0px;
	list-style: none;

}

.boxs ul li a{

	color: black;
	text-decoration: none;

}

.boxs ul li a:hover{

	background-color: black;
    color: white;
}

.boxs p{

	color: black;
	text-align: justify;

}

.footer{

	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #d0baa0;
	padding: 0px 20px;
	
}



.footer .sociais{
	display: flex;
}

.sociais .social{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ddd;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s linear;
}



.sociais .social a{
	color: #000;
	font-size: 2em;
	transition: color .3s linear;
}

.sociais .social p{
    
    align-items: center;
    
}

.sociais .social :hover{

	width: 40px;
	height: 40px;
	background: black;
	border-radius: 5px;
}



.sociais .social:hover a{

	color: #fff;
}

@keyframes vibrar {
    
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);

    }
}

@media screen and (max-width: 768px) {
    
    .slide-content{

        margin: 0 10px;

    }

    .swiper-navBtn{

        display: none;

    }

}
