@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@100&family=Trispace:wght@300;400;500;600&display=swap');


nav{

    background-color: bisque;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: 600;
}

nav ul{

    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;

}

nav li{

    margin-left: 7px;

}

nav li a {

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{

    background-color: black;
    color: white;

}

.banner{

    background: linear-gradient(rgba(0,0,0,0.281), rgba(0,0,0,0.308)), url("../bk.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}


.textindex .titulo{

    color: white    ;
    font-size: 70px;
    font-weight: 600;


}
.textindex .subtext{

    color: white;
    font-size: 40px;
    font-weight: 600;

}

.textindex .botoes{

    margin-top: 30px;


}

.textindex .botoes button{

    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

}


.textindex .botoes button.b1{

    color: white;
    background: none;
    border: 2px solid white;


}

.textindex .botoes .b1:hover{

    color: black;
    background-color: white;
    border: 2px solid black;

}

.textindex .botoes button.b2{

    background: white;
    color: black;
    border: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}

.sectionslide{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;

}

.slide-container{

    max-width: 1120px;
    height: 100%;
    background-color: gray;
    padding: 40px 0;

}


.slide-content{

    margin: 0 40px ;

}


.card{

    width: 320px;
    border-radius: 25px;
    background-color: white;

}

.img-content, .card-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}

.img-content{

    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 25px 25px 0 25px;

}

.overlay::before, .overlay::after{

    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: bisque;
}

.overlay::after{

    border-radius: 0 25px 0 0 ;
    background-color: white;
}

.card-img{

    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}

.card-img .card-img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid bisque;
}

.nome{

    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 3px;


}

.descricao{

    font-size: 14px;
    color: black;
    text-align: center;
    padding: 3px;

}

.buttons1{

    border: none;
    font-size: 16px;
    color: black;
    padding: 8px;
    background: bisque;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.buttons1:hover{

    background: rgb(129, 116, 99);


}

@keyframes vibrar {
    
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);

    }
}


